body {
  margin: 0px;
}
.el-header {
  padding: 0px;
}
.el-main {
  padding: 20px 5px 20px 5px;
}
.el-card__body {
  padding: 10px 5px 10px 5px;
}
.el-tag {
  height: auto;
}
.el-textarea__inner {
  border-radius: 5px 5px 0 0;
}
li.el-menu-item.usertab {
  height: 100px;
}
p {
  margin: 10px 0 0 0;
}
.el-collapse-item__content {
  padding: 10px 0 10px 0;
}
.fas {
  line-height: 2!important;
}
.el-dialog {
  width: 80%
}
.el-dialog.is-fullscreen {
  margin-top: 10px;
  height: 120%;
  overflow: hidden;
}
.el-button+.el-button {
  margin-left: 0px;
}